rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /stores/{storeId}/products/{productId}/{fileName} {
      allow read: if true;

      allow create, update: if request.auth != null
                            && request.auth.uid == storeId
                            && request.resource.size < 2 * 1024 * 1024
                            && request.resource.contentType.matches('image/.*');

      allow delete: if request.auth != null
                    && request.auth.uid == storeId;
    }
  }
}
